<ion-header>
  <ion-navbar>
    <ion-title>How do you feel today?</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="home">
  <ion-card *ngIf="localImageUri">
    <ion-card-content>
      <img [src]="localImageUri" />
    </ion-card-content>
  </ion-card>
  <div style="text-align: center">
    <ion-icon id="camera" name="ios-camera-outline" *ngIf="!localImageUri"></ion-icon>
  </div>
</ion-content>

<ion-footer>
  <div class="buttons">
    <button ion-button (click)="takePicture()">{{localImageUri ? 'Retake Picture' : 'Take Picture'}}</button>
    <button ion-button (click)="uploadPicture()" *ngIf="localImageUri">Looks Good &nbsp;<ion-icon name="ios-arrow-forward"></ion-icon></button>
  </div>
  <br />
</ion-footer>
